@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.general-body {
    margin: 0;
    overflow-y:hidden
}

.general-header {
    display: grid;
    grid-template-columns: 70px 1fr 90px;
    align-items: center;
    width: 100vw;
    height: 65px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px lightgrey;
}

.general-logo {
    justify-self: center;
    text-decoration: none;
    font-size: 35px;
    background-color: black;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 30%;
    font-family: "Song Myung";
}

.general-site-title {
    margin-top: 5px;
    flex-grow: 1;
    font-size: 45px;
    font-family: Bebas Neue;
    text-decoration: none;
    color: black;
}

.general-about {
    text-align: center;
    width: 80px;
    margin-top: 3px;
    font-size: 20px;
    font-family: Bebas Neue;
    text-decoration: none;
    color: black;
}