@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.general-body {
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.general-body::-webkit-scrollbar {
    display:none; /* Chrome, Safari, Opera */
}

.general-page {
    display: grid;
    width: 100%;
    grid-template:
    "header header header" 65px
    ". content ." 1fr
    "footer footer footer" 0px / 1fr 5fr 1fr;
}

.general-header {
    display: grid;
    grid-area: header;
    grid-template-columns: 70px 1fr 70px;
    align-items: center;
    width: 100vw;
    height: 65px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px lightgrey;
}

.general-content {
    grid-area: content;
}

.general-footer {
    grid-area: footer;
}

.general-logo {
    justify-self: center;
    text-decoration: none;
    font-size: 35px;
    background-color: black;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 30%;
    font-family: "Song Myung";
}

.general-site-title {
    margin-top: 5px;
    flex-grow: 1;
    font-size: 45px;
    font-family: Bebas Neue;
    text-decoration: none;
    color: black;
}

.general-about {
    text-align: center;
    width: 100%;
    margin-top: 3px;
    font-size: 20px;
    font-family: Bebas Neue;
    text-decoration: none;
    color: black;
}

.general-spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from   {  -webkit-transform: rotate(0deg); }
    to   {  -webkit-transform: rotate(360deg); }
}