.description {
    margin-top: 10vh;
    text-align: center;
    font-size: 2.5vmax;
    font-family: "Gowun Batang";
}

.starting {
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    display: flex;
}

.start-key {
    height: 120px;
    font-size: 60px;
    text-decoration: none;
    border-left: 13px solid rgb(130, 130, 130);
    border-right: 13px solid rgb(130, 130, 130);
    border-bottom: 30px solid rgb(160, 160, 160);
    border-top: 3px solid rgb(70, 70, 70);
    color: rgb(40, 40, 40);
    font-weight: bold;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    box-shadow: 
    inset 0px 0px 25px rgb(220, 220, 220),
    0px 5px 20px black;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.start-key:active {
    height: 105px;
    border-left: 7px solid rgb(130, 130, 130);
    border-right: 7px solid rgb(130, 130, 130);
    border-bottom: 22px solid rgb(160, 160, 160);
    border-top: 0.5px solid rgb(70, 70, 70);
    box-shadow:
    inset 0px 0px 25px rgb(230, 230, 230),
    0px 0px 5px black;
}

.key-guide {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-family: "Gowun batang";
}