.page {
    display: grid;
    width: 100%;
    grid-template:
    "header header header" 65px
    ". content ." 1fr;
    "footer footer footer" 0px / 1fr 5fr 1fr;
}

.header {
    grid-area: header;
    background-color: white;
}

.content {
    grid-area: content;
    height: 100vh;
}

.footer {
    grid-area: footer;
}

.slogun {
    margin: 15vh;
    text-align: center;
    font-size: 15vh;
    font-family: "Song Myung";
    font-style: oblique;
}

.subscription {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Gowun Batang";
}

.starting {
    display: flex;
    justify-content: center;
}

.start-key {
    margin-top: 10px;
    font-size: 40px;
    text-decoration: none;
    height: 60px;
    border: 2px solid rgb(150, 150, 150);
    border-bottom: 7px solid rgb(150, 150, 150);
    border-top: 0;
    color: rgb(40, 40, 40);
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    box-shadow: 
    inset 0px 0px 25px rgb(210, 210, 210),
    0px 4px 6px black;
}