.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width : 100%;

}

.writing-area {
    height: 50vh;
    width: 65vw;
    padding: 1.5vw;
    resize: none;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.btn-area {
    display: flex;
    width: 68vw;
    justify-content: flex-end;
    margin-top: 2vh;
}

.start-btn {
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-left: 7px solid rgb(130, 130, 130);
    border-right: 7px solid rgb(130, 130, 130);
    border-bottom: 15px solid rgb(160, 160, 160);
    border-top: 1px solid rgb(70, 70, 70);
    color: rgb(40, 40, 40);
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    box-shadow: 
    inset 0px 0px 10px rgb(220, 220, 220),
    0px 2px 8px black;
}

.start-btn:active {
    height: 48px;
    border-left: 4px solid rgb(130, 130, 130);
    border-right: 4px solid rgb(130, 130, 130);
    border-bottom: 13px solid rgb(160, 160, 160);
    border-top: 0px solid rgb(70, 70, 70);
    box-shadow:
    inset 0px 0px 10px rgb(230, 230, 230),
    0px 0px 2px black;
    margin-right: 4px;
}